@import "../../scss/_variables.scss";

.Form {
  width: 500px;
  padding-right: $spacer * 4;

  .top .item {
    display: block !important;
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: $break-large) {
  .Form {
    width: 100%;
    padding: $spacer * 4;
  }
}
