@import "../../scss/_variables.scss";
@import "../../scss/_typography.scss";

.Topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacer;
  width: 100%;
  height: $bar-spacer;
  box-shadow: $box-shadow;

  &-title {
    @extend %text-bold-24;
  }
}
