@import "../../scss/_variables.scss";
@import "../../scss/_typography.scss";

.Content {
  color: white;
  padding: 2.8em;

  &-h1 {
    @extend %text-bold-40;

    font-family: Ubuntu, sans-serif;
  }

  &-h2 {
    @extend %text-light-24;

    font-family: Ubuntu, sans-serif;
  }
}

@media screen and (max-width: $break-large) {
  .Content {
    text-align: center;
  }
}
