@import "../../scss/_variables.scss";
@import "../../scss/_typography.scss";

.Content {
  color: white;
  padding: 2.8em;

  &-title {
    @extend %text-bold-40;

    font-family: Ubuntu, sans-serif;
  }

  &-topics {
    @extend %text-light-20;

    font-family: Ubuntu, sans-serif;

    .icon {
      margin-right: $spacer;
    }
  }
}

@media screen and (max-width: $break-large) {
  .Content {
    &-title {
      text-align: center;
    }
  }
}
