@import "../../scss/_variables.scss";
@import "../../scss/_typography.scss";

.body {
  background-color: $red-body;
}

.LandingPage {
  &-content {
    display: flex;

    &-secure {
      @extend %text-light-24;

      font-family: Ubuntu, sans-serif;
      color: white;
    }
  }
}

@media screen and (max-width: $break-large) {
  .LandingPage {
    &-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
