@import "../../scss/_variables.scss";

.body {
  background-color: $red-body;
}

.LandingPage {
  &-content {
    display: flex;
  }
}

@media screen and (max-width: $break-large) {
  .LandingPage {
    &-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
