@import "../../../scss/_variables.scss";
@import "../../../scss/_typography.scss";

.Form-client {
  justify-content: center;
  padding: $spacer * 8 0 0 $spacer * 8;
  width: 500px;

  .top .item {
    display: block !important;
    width: 50%;
    text-align: center;
  }
}
