@import "../../scss/_typography.scss";
@import "../../scss/_variables.scss";

.Done {
  height: 407px;

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;

    &-text {
      @extend %text-regular-24;

      padding: $spacer * 3;
      width: 100%;
      margin-bottom: 142px;
      color: $red-body;
      text-align: center;
    }
  }
}
